

/*Listing css start below*/
.MainList {
    width: 100%;
    float: left;
    background: #f1f3f6;
}

.MainList .ListContent {
    width: 100%;
    float: left;
    padding: 20px;
    position:relative;
    min-height: 118px;
    cursor: pointer;
}
.MainList .ListContent:before {
    content: '';
    width: 4px;
    height: 33px;
    position: absolute;
    background-color: #f00;
    left: -1px;
    top: 27%;
}
.MainList .ListContent h6 {
    font-size: 12px;
}

.MainList .ListContent h3 {
    font-size: 12px;
}

.MainList .ListContent p {
    font-size: 12px;
}
.MainList i {
    float: left;
    margin-right: 5px;
    margin-top: 1px;
    color:#5296c1;
}
.MainList .ShortContent {
    width: 100%;
    /*padding: 20px 0px 0px;*/
    float: left;
    
}
.Hide {
    display: none;
}
.MainList a {
    color: #5296c1;
}
.MainList .ShortContent i {
    margin-top: 6px;
}
/*Listing css start above*/

/*relevent css start below*/
.Action {
    padding: 2px 4px;
    background-color: #245983;
    border-radius: 50%;
    color: #fff;
    object-fit: contain;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    width: 26px;
    position: absolute;
    right: 10px;
    top: 8px;
    text-align: center;
    cursor: pointer;
}
.Action > svg {
    margin: 0;
    float: none;
    color: #fff;
}
.ActionSection {
    padding: 0px;
    width:100%;
    float:left;
    display:none;
}

.ActionSection a {
    display: table;
    margin: 0 auto;
    text-align: center;
    padding: 10px 40px;
    background-color: #f00;
    border-radius: 25px;
    
}

.ActionSection a i {
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: table;
    margin: 0;
}

.fold-lead{
    text-align:center;
}

.pagination li{
    padding: 4px 16px;
    background-color: #fff;
    border: 1px solid #e8e3e3;
    border-radius: 2px; 
    cursor: pointer;
}
.pagination a{
    color:#333;
}
.paginationBlock{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
}
.active{
    background-color: #f3f5f7!important;
}

.WhatsAppBG {
    top: 5em;
    background-color:#5ca847;
}
.callBG{
    top: 2.7em;
    background-color:#5ca847;
}

.leadDetail{
    top: 7.4em;
}

.ActionBg {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f) !important;
    background: -o-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #303f9f);
}

.ShortContent span{
    font-size: 12px;
}

.leadMainHeader{
    position: -webkit-sticky;
    position: sticky;
    top: 3em;
    z-index: 100;
    background-color: #fff;
}

.filterHeader{
    cursor: pointer;
    color: rgba(0,0,0,.5);
    float: right;
}
.filterRow{
    margin-left: 0px!important;
}

.filter svg{
    font-size: 20px;
}

.listContainer .MuiFab-root{
    width : 48px!important ;
    height: 48px!important ;
}

@media(max-width:767px){
    .ActionSection{display:block;}
    .Action{top: 44px;}
    .MainList .ListContent{padding: 10px 20px;}
    .textRight{text-align:right;}
    .col-xs-6 {
        width: 50%;
    }

    .MainList .ShortContent{
        padding: 0px;
    }
    .leadDetail{
        top: 5em;
    }
}

@media(max-width:767px){
    .fold-lead{
        text-align:left;
    }
}    